.container{
  width: 100%;
}

.contentPhoto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

img {
  width: 500px;
  height: 500px;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  .contentPhoto {
    display: flex;
    overflow-x: auto;
    width: 500px;
  }

  img {
    width: 400px;
    height: 400px;
    max-width: min-content;
  }

  .contentPhoto::-webkit-scrollbar {
    width: 4px;
  }

  .contentPhoto::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
  }

  .contentPhoto::-webkit-scrollbar-thumb:hover {
    background-color: #111111;
  }

  .contentPhoto::-webkit-scrollbar-button {
    display: none;
  }

  .contentPhoto::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }

}