<div class="container">
  <div class="summary">
    <div>
      <div class="member">
        <span class="title">Envío gratuito para miembros.</span>
        <span>
          <span class="slim"
            >Hazte miembro de Nike para disfrutar de envios rápidos y
            gratuitos.</span
          >
          <span class="underline move">Únete</span> o
          <span class="underline">Iniciar sesion</span>
        </span>
      </div>
      <div class="detail">
        <span class="bold">Bolsa de compra</span>
        <div class="card">
          <div class="informationBuy">
            <img src="/assets/photos/capture2.png" alt="capture2" />
            <div class="detailedInformation">
              <span class="titleBold">Nike Air Force 1</span>
              <span class="light">Calzado para hombre</span>
              <span class="light">Blanco/Blanco</span>
              <div class="sizes">
                <div>
                  <span class="light">Talla</span>
                  <span class="Textbold">30.5</span>
                </div>
                <div>
                  <span class="light">Cantidad</span>
                  <span class="Textbold">1</span>
                </div>
              </div>
              <div class="operations">
                <span>Mover a favoritos</span>
                <span>Eliminar</span>
              </div>
            </div>
          </div>
          <div>$1999.00</div>
        </div>
      </div>
      <div>
        <div class="contentSend">
          <span class="send">Envío</span>
          <div>
            <span>Llega el lun. 18 de ene.</span>
            <span class="underline2">Editar ubicación</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <span class="titleSummary">Resumen</span>
        <div class="TotalPay">
          <div>
            <span>Subtotal</span>
            <span>$1999.00</span>
          </div>
          <div>
            <span>Gastos de envío y gestíon estimados</span>
            <span>$0.00</span>
          </div>
        </div>
        <hr />
        <div class="pay">
          <span>Total</span>
          <span>$1999.00</span>
        </div>
        <hr />
      </div>
      <div class="buttonGroup">
        <button class="blackbtn">Comprar como invitado</button>
        <button class="blackbtn">Comprar como miembro</button>
        <button class="paypal">
          <span>Pay</span>
          <span>pal</span>
        </button>
        <button class="blackbtn" (click)="back()">Cancelar</button>
      </div>
    </div>
  </div>
  <hr class="customHr" />
  <div class="favorite">
    <span class="title2">Favoritos</span>
    <div>
      <span
        >¿Quieres ver tus favoritos?, <span class="underline3">Únete</span> o
        <span class="underline3">Iniciar sesión</span>
      </span>
    </div>
  </div>
</div>
