<div>
  <div>
    <div class="contentItem">
      <div class="itemGroup">
        <span class="fontBold">NIKO</span>
        <span class="hidden">Nuevos Lanzamientos</span>
        <span class="hidden">Regalos</span>
        <span class="hidden">Hombre</span>
        <span class="hidden">Mujer</span>
        <span class="hidden">Niño/a</span>
        <span class="hidden">Rebajas</span>
        <span class="hidden">SNKRS</span>
        <div class="iconGroup">
          <div class="contentInput">
            <input type="text" class="searchInput" placeholder="Buscar"/>
            <span class="material-symbols-outlined searchIcon"> search </span>
          </div>
          <span class="material-symbols-outlined"> favorite </span>
          <span class="material-symbols-outlined"> shopping_cart </span>
        </div>
      </div>
    </div>
  </div>
</div>