<div class="container">
  <div class="search">
    <span>BUSCAR TIENDA</span>
    <span>REGÍSTRATE PARA RECIBIR CORREOS</span>
    <span>ELECTRÓNICOS</span>
    <span>HAZTE MIEMBRO</span>
    <span>ENVÍANOS TUS COMENTARIOS</span>
  </div>
  <div class="obtain">
    <span>OBTENER AYUDA</span>
    <span class="opacity">Estado del pedido</span>
    <span class="opacity">Envío y entrega</span>
    <span class="opacity">Devoluciones</span>
    <span class="opacity">Opciones de pago</span>
    <span class="opacity">Comunícate con nosotros</span>
  </div>
  <div class="about">
    <span>ACERCA DE NIKE</span>
    <span class="opacity">Noticias</span>
    <span class="opacity">Empleo</span>
    <span class="opacity">Inversionistas</span>
    <span class="opacity">Sostenibilidad</span>
  </div>
  <div class="iconGroup">
    <span class="icon">
        <img src="assets/photos/redes1.png" alt="">
    </span>
    <span class="icon">
        <img src="assets/photos/redes2.png" alt="">
    </span>
    <span class="icon">
        <img src="assets/photos/redes3.png" alt="">
    </span>
    <span class="icon">
        <img src="assets/photos/redes4.png" alt="">
    </span>
  </div>
</div>